* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
    display: flex;
    justify-content: center;
}

.left-side {
    flex: 1;
}

.board-section {
    flex:1;

    display: grid;
    justify-content: center;
    grid-template-columns: 50px auto 50px;
}

.right-side {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
}

.gameover-container {
    padding: 10px;
    padding-bottom: 15px;
    font-size: 4em;
    color: red;
    background-color: blue;
    border: 10px solid black;
    border-radius: 10px;
    transform: translateY(-100%);
    transition: transform 5s ease-out 25ms;
}

.gameover-container img {
    transform: scale(2);
}

.game-is-over {
    transform: translateY(700%) rotateZ(360deg);
}

.board-container {
    display: flex;
    border: 5px solid black;
}

.board-container > div {
    display: flex;
    flex-direction: column;
}

.board-container img {
    width: 50px;
}

.left-toolbar {
    grid-column: 1;
    grid-row: 2;
}

.my-board {
    grid-column: 2;
}

.enemy-board {
    grid-column: 2;
}

.right-toolbar , .left-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.toolbar img.unavailable {
    filter: opacity(0.5) drop-shadow(0 0 0 red);
}

.toolbar img {
    transform-origin: top left;
}

.columns div {
    height: 50px;
}